body  {
    background-image: url("../img/fondo.jpg");
    background-color: green;
}

h2 {
  color: white;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

.table {
  background-color: white;
  border-radius: 5px;
}

.jumbotron {
  background-color: white;
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  margin-bottom: 5px;
  float: none;
}

.white {
  color: white;
}

.nav-tabs{
  background-color:#161616;
}

.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color: white;
}

h3 {
  color: white;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

.rcorners6 {
    border-radius: 15px 15px 15px 15px;
}

.rcorners5 {
    border-radius: 15px 15px 15px 15px;
}

.jumbotron {
  width:100%;
  height: 100vh;
  background-color: inherit;
}

.squadsjumbo1 {
  color: #6699ff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.squadsjumbo2 {
  color: #ffcc00;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  margin-bottom: 0px;
}

.welcome {
  margin-top: 65px;
  margin-bottom: 70px;
}

.welcomeToTheVoting {
  margin-top: 20px;
  margin-bottom: 20px;
}

.author {
  color: white;
  margin-right: 20px;
  margin-top: 50px;
}

.buttonn {
  background-color: transparent;
}

h4 {
  color: #404040;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Raleway', sans-serif;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: white;
    width: 110px;
    height: 110px;
    border-radius: 50px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {
    min-height: 300px;
}
.item blockquote {
    border-left: none;
    margin: 0;
}

.affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
}

.affix ~ .container-fluid {
     position: relative;
     top: 50px;
}
#Renders {padding-top:50px;color: #fff;}
#PremierLeague {padding-top:50px;color: #fff;}
#LigaSantander {padding-top:50px;color: #fff;}
#OtherLeagues {padding-top:50px;color: #fff;}


canvas {
  background: #161616;
  margin-top: 20px;
  border-radius: 15px 15px 15px 15px;
  width:100%;
}

.spanError {
  color: red;
  text-align: center;
  background-color: #161616;
  display: none;
  width: 100%;
}

.goldTab {
  background: gold;
}

.delete, .edit {
  width: 1em;
  height: 1em;
}

.delete:hover, .edit:hover, button:hover {
  cursor: pointer;
}

.voteButton {
  height: 50px;
  width: 50px;
  display: block;
  margin: 0 auto;
}

.form-login {
  background-image: url("../img/net.png");
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px 15px 1px 1px;
  border-color: white;
  box-shadow:0 1px 0 #cfcfcf;
  margin-top: 50px;
  border-style: solid;
  border-width: 5px;
  border-bottom: 0px;
}

.form-control {
  border-radius: 15px 15px 15px 15px;
}

.wrapper {
  text-align: center;
}

.loginTop {
    text-shadow: 2px 2px grey;
    color: white;
}

.buttonC {
  margin-top: 10px;
  display: block;
  margin: 0 auto;
}

.col-center{
    float: none;
    margin: 0 auto;
}

.centerImg {
    display: block;
    margin: 0 auto;
}

.buttonGame {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.card {
  width: 111px;
  height: 161px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rpsIcon {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rules {
  font-style: oblique;
}

.resultRPS {
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.hidden {
  visibility: hidden;
}

.liquidFillGaugeText {
  font-family: Helvetica;
  font-weight: bold;
}
